<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/CSS/create.css">
  <title>Simple Ecommerce Website</title>
</head>
<body>
  <header>
    <%- include('./partials/navbar.ejs') %>
  </header>
  <div class="container">
    <div class="product-form">
      <h2>Create New Product</h2>
      <form action="/product/create" method="post">
        <label for="name">Product Name:</label>
        <input type="text" id="name" name="name" required>
        
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" step="0.01" required>
        
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" required></textarea>
        <label for="qty">Quantity:</label>
        <input type="number" id="qty" name="qty" step="1" required>
        
        <label for="image_link">Product Image:</label>
        <input type="url" id="image_link" name="image_link" required>
        
        <input type="submit" value="Create Product">
      </form>
    </div>
  </div>
 <%- include('./partials/footer.ejs') %>
</body>
</html>