<body>
  <header>
    <nav>
      <a href="#">Home</a>
      <a href="#">Login</a>
      <a href="#">Signup</a>
    </nav>
  </header>
  <div class="container">
    <div class="product-container">
      <img class="product-image" src="https://picsum.photos/300/300" alt="Product 1">
      <div class="product-details">
        <div class="product-name">Product 1</div>
        <div class="product-price">$29.99</div>
        <div class="product-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fringilla tristique elit nec ultricies.
        </div>
        <button class="buy-button">Buy</button>
      </div>
    </div>
    <div class="product-container">
      <img class="product-image" src="https://picsum.photos/300/300" alt="Product 2">
      <div class="product-details">
        <div class="product-name">Product 2</div>
        <div class="product-price">$19.99</div>
        <div class="product-description">
          Sed a est justo. Sed augue enim, venenatis eu egestas vitae, feugiat id libero.
        </div>
        <button class="buy-button">Buy</button>
      </div>
    </div>
    <div class="product-container">
      <img class="product-image" src="https://picsum.photos/300/300" alt="Product 3">
      <div class="product-details">
        <div class="product-name">Product 3</div>
        <div class="product-price">$39.99</div>
        <div class="product-description">
          Duis in purus ac risus convallis bibendum. Nam eu congue ligula.
        </div>
        <button class="buy-button">Buy</button>
      </div>
    </div>
  </div>
  <footer>
    <a href="#">Terms of Service</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Contact Us</a>
    <span>&copy; 2023 Your Simple Ecommerce Website</span>
  </footer>
</body>