
<body>
  <header>
    <nav>
      <a href="#">Home</a>
      <a href="#">Login</a>
      <a href="#">Signup</a>
    </nav>
  </header>
  <div class="container">
    <div class="login-form">
      <h2>Create an Account</h2>
      <form action="#" method="post">
        <label for="email">Email:</label>
        <input type="text" id="username" name="username" required>
        
       <label for="user-type">Choose Account Type:</label>
        <select id="user-type" name="user-type" required>
          <option value="buyer">Buyer</option>
          <option value="seller">Seller</option>
        </select>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <label for="cpassword">Confirm Password:</label>
        <input type="password" id="cpassword" name="cpassword" required>

        
        <input type="submit" value="Signup">
      </form>
    </div>
  </div>
  <footer>
    <a href="#">Terms of Service</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Contact Us</a>
    <span>&copy; 2023 Your Simple Ecommerce Website</span>
  </footer>
</body>
